{%- for interface in interfaces %}
{%- if "g0/0" == interface.name %}
interface {{ interface.name }}
    no shutdown
    exit
{%- elif "g0/0" != interface.name %}
interface {{ interface.name }}
    encapsulation dot1Q {{interface.vlan_id}}
    description "{{ interface.description | default("**NO DESCRIPTION**") }}"
    ip address {{ interface.ip }} {{ interface.mask }}
    exit
{% endif %}
{%- endfor %}
